 <article class="card card-table col-lg-9">
                <div class="panel panel-default">
                  <div class="panel-heading recent-heading">
                    <span class="label label-info">Displaying <b>3/1943</b></span>
                      
                        <i class="kk-star light"></i>Customers Glossary
                     
                      <a class="pull-right" style="margin:-3px;margin-right: 10px;">
                          <form>
                              <input type="search" placeholder="">
                          </form>
                      </a>
                      <span class="display-amount">
                          Display: <a href="#">[20]</a><a href="#">[60]</a><a href="#">[80]</a>
                      </span>
                  </div>
                  <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                          <tr>
                            <td>
                              Customer Name
                            </td>
                            <td>
                              Email
                            </td>
                            <td>
                              Shipping Address
                            </td>
                            <td>
                              Transactions
                            </td>
                            <td>
                              Last Transaction
                            </td>
                            <td>
                              Total Spent
                            </td>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Melanie Martins
                            </td>
                            <td>
                              melanie@kaenko.com
                            </td>
                            <td>
                              Tower Two Financial Centre 2123, A32,<br> Hong Kong City, Hong Kong
                            </td>
                            <td>
                              54 
                            </td>
                            <td>
                              $ 2,334,01 CAD 
                            </td>
                            <td>
                              $ 7,434,01 CAD 
                            </td>
                            
                          </tr>
                             <tr>
                            <td>
                              Karl Malota
                            </td>
                            <td>
                              karl.malota@kaenko.com
                            </td>
                            <td>
                              Tower Two Financial Centre 2123, A33,<br> Hong Kong City, Hong Kong
                            </td>
                            <td>
                              109
                            </td>
                            <td>
                              $ 75,114,11 CAD 
                            </td>
                            <td>
                              $ 105,114,41 CAD 
                            </td>
                            
                          </tr>
                             <tr>
                            <td>
                              John Paddington
                            </td>
                            <td>
                              john@paddingtoninc.co.uk
                            </td>
                            <td>
                              Sasuage Street 43/22, <br> Bristol, TXS8H9, United Kingdom
                            </td>
                            <td>
                              4
                            </td>
                            <td>
                              $ 334,01 CAD 
                            </td>
                            <td>
                              $ 434,01 CAD 
                            </td>
                            
                          </tr>
                          
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer">
                      <ul class="pagination">
                          <li><a href="#">&laquo;</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">&raquo;</a></li>
                      </ul>
                  </div>
                </div>
              </article>