
<section class="request-money-invoice main-container container-fluid">
  <div class="row row-50-top">
    <div class="col-lg-12">
       <%= form_tag "" do %>
          <!-- row -->
        <div class="row">
            <!-- CARD CONTENT -->
          <article class="card col-sm-12 col-md-12 col-lg-12 col-xs-12"> 
            <div class="panel panel-default"> 
              <div class="panel-heading">
                  <i class="kk-create-invoice light"></i>Advance Search
              </div> 
              
            </div> 
          </article> 
          <!-- END CARD CONTENT -->          
        </div>
          <!-- END row -->
      <% end %>
    </div><!-- END col-lg-12 -->       
  </div><!-- END row -->
</section>
