<div class="span3">
	<div class="well sidebar-nav">
  	<h3>Online Users</h3>
      <ul class="nav nav-list" id="user-list">
        <li class="nav-header">Active</li>
      </ul>
    </div>
   </div>
</div>
