<div class="row-fluid">
  <div class="position-relative">
    <div id="login-box" class="visible widget-box no-border">
      <%=render :partial=>"admins/sessions/new" %>
    </div><!--/login-box-->

    <div id="forgot-box" class="widget-box no-border">
      <%=render :partial=>"admins/passwords/new" %>
    </div><!--/forgot-box-->
  </div><!--/position-relative-->
</div>
