<table class="table table-hover">
            <thead class="">
              <tr>
                <td>
                  Date
                </td>
                <td>
                  Payment For
                </td>
                <td>
                 Product Ref#
                </td>
                  <td>
                    Amount
                  </td>
                <td>
                 Status
                </td>
                <td>
                  Control
                </td>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  April 1
                </td>
                <td>
                  zara.com
                </td>
                <td>
                  34323243 
                </td>
                  <td>USD 56.00 USD</td>
                <td>
                  <span class="label label-success">Active</span>
                </td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">cancel</a>
                </td>
              
              </tr>

              <tr>
                <td>
                  April 1
                </td>
                <td>
                  zara.com
                </td>
                <td>
                  34323243
               </td>
                  <td>USD 56.00 USD</td>
               <td>
                  <span class="label label-success">Active</span>
                </td>
               <td>
                <a href="#" class="btn btn-danger btn-sm">cancel</a>
              </td>
            
            </tr>

          <tr>
            <td>
              April 1
            </td>
            <td>
              zara.com
            </td>
            <td>
             34323243
            </td>
              <td>USD 56.00 USD</td>
            <td>
              <span class="label label-success">Active</span>
            </td>
            <td>
              <a href="#" class="btn btn-danger btn-sm">cancel</a>
            </td>
          
          </tr>

          <tr>
            <td>
              April 1
            </td>
            <td>
              zara.com
            </td>
            <td>
             34323243
            </td>
              <td>USD 56.00 USD</td>
            <td>
              <span class="label label-danger">Cancelled</span>
            </td>
            <td>
              <a href="#" class="btn btn-danger btn-sm">cancel</a>
            </td>
        
          </tr>

          <tr>
            <td>
              April 1
            </td>
            <td>
              zara.com
            </td>
            <td>
              34323243
            </td>
              <td>USD 56.00 USD</td>
            <td>
              <span class="label label-success">Completed</span>
            </td>
            <td>
              <a href="#" class="btn btn-success btn-sm">activate</a>
            </td>
          </tr>
  </tbody>
</table>