<%if !@post.errors.present? %>
  $("#make_private<%= @post.id %>").html('<a href="<%= make_private_post_path(@post.id) %>" data-remote="true"><i class="fa fa-eye"></i> Make Private</a>')
  $("#cardssocial<%= @post.id %>").removeClass('card-private')
<% end %>
$(".ajax-loading").hide();
