<div id="chatbox-prototype2" class="chatbox">
    <div class="top-chatbox">
        <span class="title-min">
            <i class="fa fa-comments"></i>
           Karl Lucas
        </span>
        <a href="javascript:void(0);" class="chatbox-close pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
            <i class="fa fa-times"></i>
        </a>
        <a href="#" class="chatbox-settings pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
        </a>
         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Send Money</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Request Money</a></li>
            
        </ul>
    </div>
    <div class="content-chatbox">
          <ol class="discussion">
              <li class="other">
                  <div class="avatar">
                      <img src="http://development.kaenko.com/uploads/user/image/13/profile_me.png" />
                  </div>
                  <div class="messages">
                      <p>Hello precious. How is it going? I see you did live chat. Im liking it LGB im really proud of you.</p>
                      <time datetime="2009-11-13T20:00">Melanie • 51 min</time>
                  </div>
              </li>
              <li class="self">
                  <div class="avatar">
                      <img src="http://development.kaenko.com/uploads/user/image/1/profile_profile.jpg" />
                  </div>
                  <div class="messages">
                      <p>What is it precious ? lol. yeah i was working on it pretty hard. But im definately happy with result. Took approx 12 hours to do whole thing up.</p>
                      <time datetime="2009-11-13T20:14">37 mins</time>
                  </div>
              </li>
              <li class="other">
                  <div class="avatar">
                      <img src="http://development.kaenko.com/uploads/user/image/13/profile_me.png" />
                  </div>
                  <div class="messages">
                      <p>i see, well very nice, so why is it static ?</p>
                        <time datetime="2009-11-13T20:14">2 mins</time>
                  </div>
              </li>
              <li class="self">
                  <div class="avatar">
                      <img src="http://development.kaenko.com/uploads/user/image/1/profile_profile.jpg" />
                  </div>
                  <div class="messages">
                      <p>Oh yea it remain static for now. Its a prototype. Now we hae to ask our amazing Rails developers to use this html/css template to make fully working bautiful chat! Yay</p>
                      
                  </div>
              </li>
        </ol>
    </div>
    <div class="bottom-chatbox">
        <a href="#" id="chatbox-attach" class="attach-btn"><i class="fa fa-camera"></i></a>
        <input type="text" placeholder="Write a reply...">
    </div>
</div>
